.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-card {
    width: 100%;
  }
  .example-button-row{
    text-align: right;
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  mat-card-title{
    text-align: right;
  }
  mat-card img{

    width: 50px; 
    height: 100px;
    
  }
  mat-card{
   
    text-align: left;
    border-radius: 1px;
    max-width: 400px;
  
  }
  .card_image{
      float: left;
      padding-right: 5%;
  }
  .varetekst{
      text-align:left;
  }
  td {
   
    padding: 0px;
  }
 .addbutton{
   text-align: right;
 }

 .editbutton{
  float: right;
 
}
.headline{
  font-size: 14px;
  color: black;
  margin-bottom: 2px;
}


  mat-card-content{
    
   
  
  }
  mat-card-actions{
    text-align:left;
  }

  mat-card-title{
    float: right;
}
  
  mat-form-field{
    width:100%;
  }


  .tile-image {
    width:100px;
    height: 50px;
  }

 .addremove{
  height:48px !important;
    width:48px !important;
    font-size:48px !important;
 }