.banner_username{
    position: fixed;
    left: 5%;
    font-size: 12px;
}

.banner_logout{
    position: fixed;
    right: 0;
    font-size: 12px;
}

mat-toolbar {
    background: #F14CFF;
   
    
    
  }


